[Unit]
Description=Discord Spam Bot
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/Spam_Spotter_Discord_Bot
Environment=PATH=/home/ubuntu/Spam_Spotter_Discord_Bot/venv/bin
ExecStart=/home/ubuntu/Spam_Spotter_Discord_Bot/venv/bin/python bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 